<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533987247494-u70jemhsa7r8uofbicvt5fo69svrv68f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533987247494-u70jemhsa7r8uofbicvt5fo69svrv68f</string>
	<key>API_KEY</key>
	<string>AIzaSyB44SXe1S3FKBbs7KJoG5waDamJqOSSEnE</string>
	<key>GCM_SENDER_ID</key>
	<string>533987247494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoWithFirestore</string>
	<key>PROJECT_ID</key>
	<string>todo-with-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-with-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533987247494:ios:78833f8ed98d5086e49807</string>
</dict>
</plist>